<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:gate="http://gate.ac.uk/ns/spring"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:flex="http://www.springframework.org/schema/flex"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       		http://gate.ac.uk/ns/spring  
       		http://gate.ac.uk/ns/spring.xsd
       		http://www.springframework.org/schema/context 
       		http://www.springframework.org/schema/context/spring-context-2.5.xsd
       		http://www.springframework.org/schema/flex 
            http://www.springframework.org/schema/flex/spring-flex-1.0.xsd">
	<bean
		class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />

	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean"
		p:jndiName="java:comp/env/jdbc/expressionlib" p:resourceRef="true" />

	<bean id="expressionService"
		class="gov.va.research.inlp.expressionlib.ExpressionServiceImpl"
		p:dataSource-ref="dataSource" />

	<bean name="nlpService" class="gov.va.research.inlp.DefaultNlpServiceImpl"
		p:sectionizerAndConceptFinder-ref="sectionizerAndConceptFinder"
		p:metamapProvider-ref="metamapProvider">
		<property name="annotationTypesToReturn">
			<list>
				<value>RegEx</value>
				<value>UMLSConcept</value>
			</list>
		</property>
	</bean>



	<bean name="sectionizerAndConceptFinder"
		class="gov.va.research.inlp.services.SectionizerAndConceptFinderImpl">
		<lookup-method name="createConceptFinder" bean="defaultRegexConceptFinder" />

		<lookup-method name="createNegEx" bean="defaultNegEx" />

		<lookup-method name="createSectionizer" bean="defaultSectionizer" />

		<property name="sectionizerHeaders">
			<value type="org.springframework.core.io.Resource">WEB-INF/resources/sectionizer/dis_headers.xml
			</value>
		</property>

		<property name="annotationTypesToReturn">
			<list>
				<value>concept</value>
				<value>section_header</value>
			</list>
		</property>
	</bean>


	<bean id="utilityService" class="gov.va.research.inlp.UtilityServiceImpl" />

	<bean id="metamapProvider" class="gov.va.research.inlp.services.MetamapProviderImpl"
		p:restTemplate-ref="restTemplate" p:metamapService-ref="metamapService" />

	<bean id="metamapService"
		class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean"
		p:serviceUrl="http://10.5.17.158:8888/mm-service/httpinvoker/map" 
		p:serviceInterface="gov.va.research.v3nlp.common.metamap.MetaMapServiceHttpInvoker" />

	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate" />
</beans>
