<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/task
            http://www.springframework.org/schema/task/spring-task-3.0.xsd">
    <bean
            class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>

    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>

    <bean id="applicationContextProvider" class="gov.va.vinci.v3nlp.StaticApplicationContext"></bean>

    <bean
            class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>classpath:v3nlp-server.properties</value>
        </property>
    </bean>

    <task:annotation-driven executor="myExecutor"/>
    <task:executor id="myExecutor" pool-size="5"/>


    <bean id="expressionService"
          class="gov.va.vinci.v3nlp.expressionlib.ExpressionServiceImpl"
          p:dataSource-ref="v3nlpDataSource"/>


    <bean name="nlpService" class="gov.va.vinci.v3nlp.DefaultNlpServiceImpl" init-method="init"
          p:directoryToStoreResults="${directoryToStoreResults}"
          p:serializationService-ref="serializationService"
          p:uimaServicePipeLineProcessor-ref="uimaServicePipeLineProcessorImpl"
          p:servicePipeLineProcessor-ref="servicePipeLineProcessor"
          p:databaseRepositoryService-ref="databaseRepositoryService"
          p:registryService-ref="registryService"/>

    <!-- UIMA and Gate Service PipeLine Processors -->
    <bean name="uimaServicePipeLineProcessorImpl" class="gov.va.vinci.v3nlp.services.UimaServicePipeLineProcessorImpl"
          p:directoryToStoreResults="${directoryToStoreResults}"
          p:registryService-ref="registryService"
          p:flapPropertiesFile="${flapPropertiesFile}"
          p:databaseRepositoryService-ref="databaseRepositoryService"
          p:corpusSuperReaderDescriptorPath="${corpusSuperReaderDescriptorPath}">
    </bean>

    <bean id="servicePipeLineProcessor" class="gov.va.vinci.v3nlp.services.ServicePipeLineProcessorImpl"
          p:databaseRepositoryService-ref="databaseRepositoryService"
          p:directoryToStoreResults="${directoryToStoreResults}"
          p:registryService-ref="registryService"/>
    <!-- End Pipeline processors -->

    <bean name="serializationService" class="gov.va.vinci.cm.service.SerializationServiceXmlImpl"/>

    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate"/>

    <bean id="registryService" class="gov.va.vinci.v3nlp.registry.RegistryServiceJPAImpl" init-method="init"/>

    <bean id="templateService" class="gov.va.vinci.v3nlp.services.TemplateServiceImpl"
          p:templateDirectory="${templateDirectory}"/>

    <bean id="databaseRepositoryService" class="gov.va.vinci.v3nlp.services.database.StubDatabaseRepositoryServiceImpl"
          />

</beans>
