<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       		http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">




	<bean name="conceptFinderService" class="gov.va.vinci.v3nlp.services.hitex.HitexConceptFinderImpl" >
		<lookup-method name="createConceptFinder" bean="defaultRegexConceptFinder" />
	</bean>
	
	<bean name="negationService" class="gov.va.vinci.v3nlp.services.NegationImpl"
		init-method="init">
		<property name="sentenceRulesFile">
			<value type="org.springframework.core.io.Resource">file:src/main/webapp/WEB-INF/resources/EnglishSD.bin.gz</value>
		</property>
		<property name="negationRulesFile">
			<value type="org.springframework.core.io.Resource">file:src/main/webapp/WEB-INF/resources/negex/rules.txt</value>
		</property>
	</bean>
	
	<bean name="oParserService" class="gov.va.vinci.v3nlp.services.hitex.HitexOParserImpl"/>
	
	<bean name="posTaggerService" class="gov.va.vinci.v3nlp.services.hitex.HitexPOSTaggerImpl" />
	
	<bean name="sentenceSplitterService" class="gov.va.vinci.v3nlp.services.hitex.HitexSentenceSplitterImpl" />
	
	<bean name="sectionizerService" class="gov.va.vinci.v3nlp.services.gate.HitexSectionizerImpl">
		<lookup-method name="createSectionizer" bean="defaultSectionizer" />
		<property name="sectionizerHeaders">
			<value type="org.springframework.core.io.Resource">file:src/main/webapp/WEB-INF/resources/sectionizer/dis_headers.xml
			</value>
		</property>
	</bean>
	
	<bean name="tokenizerService" class="gov.va.vinci.v3nlp.services.hitex.HitexTokenizerImpl" />



	<bean id="metamapProvider"
		class="gov.va.vinci.v3nlp.services.other.MetamapProviderServiceImpl"
		p:restTemplate-ref="restTemplate" p:metamapService-ref="metamapService" />

	<bean id="metamapService"
		class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean"
		p:serviceUrl="${metamapServerUrl}"
		p:serviceInterface="gov.va.research.v3nlp.common.metamap.MetaMapServiceHttpInvoker" />

    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate" />

	
</beans>
